.themify_builder_9_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; padding-top:15%; padding-bottom:15%; }
.themify_builder_9_row.module_row_0.module_row>.builder_row_cover::before{background-color:rgba(0,0,0, 0.10); }
.themify_builder_9_row.module_row_0.module_row>.builder_row_cover::after{background-color:rgba(0,0,0, 0.05); }
.themify_builder_9_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
